{% extends 'partials/_master.twig' %}

{% block bodyClass %}archive-view{% endblock %}

{% setcontent record = 'blocks/404-not-found' %}

{% block main %}

    <main id="main" class="site-main" role="main">
        <section class="none-header">
            <header class="page-header">
                <h1 class="page-title">{{ record.title|default('404 not found') }}</h1>

                <div class="page-content">
                    {% if record %}
                        {{ block('sub_fields') }}
                    {% else %} #}
                        <p>The requested page was not found.</p>
                        <h5>Add a Blocks record with slug '404-not-found' to customize this message. </h5>
                        <p>If it's not showing up here, doublecheck that the <tt>slug</tt> is correct, and that the Block is published.</p>
                    {% endif %}
                </div><!-- .page-content -->
            </header><!-- .page-header -->
        </section>

        {% setcontent entries = 'entries/latest/6' %}
        {% for entry in entries %}
            <article id="post-{{ entry.id }}" class="post">

                {% if entry.image is not empty %}
                    <figure class="featured-image">
                        <a href="{{ entry.link }}" rel="bookmark">
                            <img src="{{ thumbnail( entry.image, 433, 248, 'c') }}" alt="{{ entry.image.title|default('') }}">
                        </a>
                    </figure><!-- .featured-image full-bleed -->
                {% endif %}

                <header class="entry-header">
                    {% if entry.taxonomy.categories is defined %}
                        <div class="cat-links">
                            {% for entryCategoryLink, entryCategory in entry.taxonomy.categories %}
                                <a href="{{ entryCategoryLink }}" rel="category tag">{{ entryCategory }}</a>
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                        <h2 class="entry-title">
                            <a href="{{ entry.link }}" rel="bookmark">'{{ entry.title }}'</a>
                        </h2>
                </header><!-- .entry-header -->

                <div class="entry-meta">

                    <span class="byline"> Written by
                        <span class="author vcard">
                            <a class="url fn n" href="{{ entry.link }}">{{ app['twig.runtime.bolt_user'].getUser( entry.ownerid ).displayname }}</a>
                        </span>
                    </span>
                    <span class="posted-on">Published
                        <a href="{{ entry.link }}" rel="bookmark">
                            <time class="entry-date published" datetime="2017-08-10T09:58:38+00:00">{{ entry.datepublish|date('F j, Y') }}</time>
                            <time class="updated" datetime="2017-08-10T09:59:07+00:00">{{ entry.datechanged|date('F j, Y') }}</time>
                        </a>
                    </span>
                </div><!-- .entry-meta -->

                <div class="entry-content">
                    <p>{{ entry.teaser|excerpt('250') }}</p>
                </div><!-- .entry-content -->

            </article><!-- #post-## -->
        {% endfor %}

    </main><!-- #main -->

{% endblock main %}